.title {
    display: block;
    margin: 10px auto;
    text-align: center;
}

form {
    background-color: brown;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.cardNum {
    color: white;
    font-weight: bold;
}

.card-info {
    display: flex;
    justify-content: space-between;

}

.checkbox-container {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 10px;
    color: white;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    min-width: 18px;
    min-height: 18px;
    accent-color: #fff;
    margin: auto;
}

.checkbox-text {
    flex: 1 1 auto;
    line-height: 1.2;
    font-size: 0.95rem;
}

.error-message {
    background-color: #ca2a2a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    text-align: center;
;
}