.movie-card {
    margin: 0px 10px 20px 10px;
    border: solid 2px #000000;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    width: 300px;
}

.movie-link {
    text-decoration: none;
    color: inherit;
}

.movie-card:hover {
    box-shadow: 0 4px 8px silver;
}

.movie-img {
    display: block;
    margin: 10px auto;
}

.movie-title {
    text-align: center;
    margin-top: 10px;
}

.card-button {
    width: 40%;
}

.button-group{
    display: flex;
    justify-content: space-around;
}