.navbar {
    background-color: #D84040;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-buttons-loggedin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 12px;
}

.link {
    text-decoration: none;
    color: #fff; 
}

.link:hover {
    font-weight: 600;
        text-decoration: none;

}

.link:visited {
    text-decoration: none;
}

