.navbar {
    background-color: #D84040;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 9999; /* keep navbar above other elements */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* small shadow to separate visually */
    text-align: center;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-buttons-loggedin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.nav-buttons-loggedin-admin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px; 
    padding: 10px 20px; 
}

.link {
    align-items: center;
    text-decoration: none;
    color: #fff; 
}

.link:hover {
    font-weight: 600;
        text-decoration: none;

}

.link:visited {
    text-decoration: none;
}

