form {
    background-color: brown;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button-container button {
    width: auto; 
    padding: 10px 20px;
    background-color: #8b0000;
    color: white;
}

.promotion-button:hover {
    background-color: #000000; 
}

.promotions-list {
    margin: 40px auto;
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

.promotions-list h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.promotions-list table {
    width: 100%;
    border-collapse: collapse;
}

.promotions-list th, .promotions-list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.promotions-list th {
    background-color: #8b0000;
    color: white;
    font-weight: bold;
}

.promotions-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.promotions-list tr:hover {
    background-color: #e9e9e9;
}