.manage-promotions {
    padding: 20px;
    max-width: 1200px; /* Increased max-width for side-by-side layout */
    margin: 0 auto;
}

.manage-promotions .title {
    text-align: center;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    gap: 40px; /* Adds space between the list and the form */
    align-items: flex-start;
}

.form-container {
    flex: 1; /* Allows the form container to take up available space */
}

form {
    background-color: #8b0000; /* Using a consistent dark red */
    margin: 0; /* Removed auto margin */
    width: 100%; /* Make form responsive */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

/* Apply styles to all relevant input types for a uniform look */
input[type="text"],
input[type="date"],
input[type="number"],
textarea  {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Slightly more rounded corners */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button-container button {
    width: auto; 
    padding: 10px 20px;
    background-color: #8b0000;
    color: white;
}

.promotion-button:hover {
    background-color: #000000; 
}

.promotions-list {
    flex: 1.5; /* Makes the list wider than the form */
    margin: 0; /* Removed auto margin */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

.promotions-list h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.promotions-list table {
    width: 100%;
    border-collapse: collapse;
}

.promotions-list th, .promotions-list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.promotions-list th {
    background-color: #8b0000;
    color: white;
    font-weight: bold;
}

.promotions-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.promotions-list tr:hover {
    background-color: #e9e9e9;
}

.error-message,
.success-message {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.error-message {
  background-color: #f44336; /* A clear, but not jarring, red */
}

.success-message {
  background-color: #4caf50; /* A standard, pleasant green */
}