form {
    background-color: brown;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button-container button {
    width: auto; 
    padding: 10px 20px;
    background-color: #8b0000;
    color: white;
}

.promotion-button:hover {
    background-color: #000000; 
}