.booking-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ticket-selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.ticket-selection div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ticket-selection label {
  width: 60px;
  text-align: right;
}

.ticket-selection input {
  width: 60px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.seats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 2rem;
  justify-items: center;
}

.seat-button {
  width: 50px !important;
  height: 50px !important;
  min-width: auto !important;
  padding: 0 !important;
}

.error-message {
    background-color: rgb(172, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.booking-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

