.title {
    display: block;
    margin: 10px auto;
    text-align: center;
}

form {
    background-color: brown;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 20px 40px;                  
    align-items: start;
}
 
.full-width {
    grid-column: 1 / span 2;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    width: auto; 
    padding: 10px 20px;
    background-color: white;
}

.add-movie-button:hover {
    background-color: #8b0000; 
}